/*********************
BREAKPOINTS
*********************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_buttons\.scss}line{font-family:\000031}}
button, [type='button'], [type='reset'], [type='submit'], .button {
  appearance: none;
  background-color: #531b21;
  border: 0;
  border-radius: 1.5px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 1;
  padding: 0.375em;
  text-align: center;
  text-decoration: none;
  transition: background-color 200ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_buttons\.scss}line{font-family:\0000322}}
  button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus, .button:hover, .button:focus {
    background-color: #6c2e37;
    color: #000000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_buttons\.scss}line{font-family:\0000327}}
  button:active, [type='button']:active, [type='reset']:active, [type='submit']:active, .button:active {
    background-color: #200206;
    color: #FFFFFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_buttons\.scss}line{font-family:\0000331}}
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled, .button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_buttons\.scss}line{font-family:\0000335}}
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover, .button:disabled:hover {
      background-color: #531b21; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_forms\.scss}line{font-family:\000031}}
fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_forms\.scss}line{font-family:\000038}}
legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_forms\.scss}line{font-family:\0000314}}
label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_forms\.scss}line{font-family:\0000320}}
input,
select,
textarea {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_forms\.scss}line{font-family:\0000328}}
[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #FFFFFF;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 200ms ease;
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_forms\.scss}line{font-family:\0000340}}
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b8b8b8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_forms\.scss}line{font-family:\0000344}}
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #531b21;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(64, 21, 25, 0.7);
    outline: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_forms\.scss}line{font-family:\0000350}}
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_forms\.scss}line{font-family:\0000354}}
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #e6e6e6; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_forms\.scss}line{font-family:\0000359}}
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #7d7d7d; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_forms\.scss}line{font-family:\0000364}}
textarea {
  resize: vertical; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_forms\.scss}line{font-family:\0000368}}
[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_forms\.scss}line{font-family:\0000374}}
[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_forms\.scss}line{font-family:\0000379}}
select {
  margin-bottom: 0.75em;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_layout\.scss}line{font-family:\000031}}
html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_layout\.scss}line{font-family:\000037}}
*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_layout\.scss}line{font-family:\0000315}}
html,
body {
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/bourbon\/bourbon\/library\/_clearfix\.scss}line{font-family:\0000320}}
.l-header::after, .l-content::after {
  clear: both;
  content: "";
  display: block; }

@media (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_layout\.scss}line{font-family:\0000323}}
  .middle-wrapper {
    display: flex;
    justify-content: space-around; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_layout\.scss}line{font-family:\0000326}}
    .middle-wrapper .left-sidebar-wrapper {
      flex: 0 1 25%;
      padding: 0 1rem 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_layout\.scss}line{font-family:\0000330}}
    .middle-wrapper .right-sidebar-wrapper {
      flex: 0 1 75%;
      padding: 0 0 0 1rem; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_lists\.scss}line{font-family:\000031}}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_lists\.scss}line{font-family:\000038}}
dl {
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_lists\.scss}line{font-family:\0000312}}
dt {
  font-weight: 600;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_lists\.scss}line{font-family:\0000317}}
dd {
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_media\.scss}line{font-family:\000031}}
figure {
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_media\.scss}line{font-family:\000035}}
img,
picture {
  margin: 0;
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_tables\.scss}line{font-family:\000031}}
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_tables\.scss}line{font-family:\000038}}
th {
  border-bottom: 1px solid #adadad;
  font-weight: 600;
  padding: 0.75em;
  text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_tables\.scss}line{font-family:\0000315}}
td {
  border-bottom: 1px solid #e6e6e6;
  padding: 0.75em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_tables\.scss}line{font-family:\0000320}}
tr,
td,
th {
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_typography\.scss}line{font-family:\000031}}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  margin: 0.75em 0 0.75em;
  color: #474747;
  font-weight: 500; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_typography\.scss}line{font-family:\0000313}}
h1 {
  font-size: 2.1em;
  font-weight: 300;
  margin: 0 0 0.75em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_typography\.scss}line{font-family:\0000318}}
h2 {
  font-weight: 400;
  font-size: 1.8em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_typography\.scss}line{font-family:\0000322}}
h3 {
  font-size: 1.6em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_typography\.scss}line{font-family:\0000326}}
h4 {
  font-size: 1.4em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_typography\.scss}line{font-family:\0000329}}
h5 {
  font-size: 1.2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_typography\.scss}line{font-family:\0000332}}
h6 {
  text-transform: uppercase;
  font-size: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_typography\.scss}line{font-family:\0000336}}
p {
  margin: 0 0 0.75em;
  color: #262626; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_typography\.scss}line{font-family:\0000341}}
a {
  color: #531b21;
  text-decoration: none;
  transition: color 200ms ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_typography\.scss}line{font-family:\0000346}}
  a:active {
    color: #200206; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_typography\.scss}line{font-family:\0000349}}
  a:focus, a:hover {
    color: #6c2e37; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_typography\.scss}line{font-family:\0000356}}
.l-content a {
  border-bottom: 1px dotted #531b21; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_typography\.scss}line{font-family:\0000358}}
  .l-content a:focus, .l-content a:hover {
    border-bottom: 1px dotted #200206; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_typography\.scss}line{font-family:\0000365}}
strong {
  font-weight: 500; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_typography\.scss}line{font-family:\0000368}}
hr {
  border-bottom: 1px solid #e6e6e6;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_typography\.scss}line{font-family:\0000375}}
sup, sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_typography\.scss}line{font-family:\0000381}}
sup {
  top: -0.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_typography\.scss}line{font-family:\0000384}}
sub {
  bottom: -0.25em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_typography\.scss}line{font-family:\0000388}}
.l-content ul, .l-content ol {
  list-style: outside square;
  padding-left: 3em;
  padding-bottom: 0.75em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_typography\.scss}line{font-family:\0000392}}
  .l-content ul ul, .l-content ul ol, .l-content ol ul, .l-content ol ol {
    list-style: outside disc; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_typography\.scss}line{font-family:\0000394}}
    .l-content ul ul ul, .l-content ul ol ul, .l-content ol ul ul, .l-content ol ol ul {
      list-style-type: circle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_typography\.scss}line{font-family:\00003100}}
.l-content ol {
  list-style-type: decimal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_typography\.scss}line{font-family:\00003102}}
  .l-content ol ol {
    list-style-type: lower-alpha; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/base\/_typography\.scss}line{font-family:\00003104}}
    .l-content ol ol ol {
      list-style-type: lower-roman; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/components\/_page\.scss}line{font-family:\000031}}
body {
  margin: 0;
  padding: 0;
  color: #262626;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/components\/_page\.scss}line{font-family:\000038}}
  body .l-main {
    background-color: #e6e6e6; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/components\/_content\.scss}line{font-family:\000031}}
.l-content {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 1rem 0;
  background-color: #FFFFFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/components\/_content\.scss}line{font-family:\000037}}
  .l-content .media {
    align: center;
    padding: 1rem 1rem;
    border: 1px solid #6c2e37; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/components\/_content\.scss}line{font-family:\0000311}}
    .l-content .media img {
      height: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/components\/_content\.scss}line{font-family:\0000314}}
    .l-content .media .caption {
      font-size: 0.7em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/components\/_content\.scss}line{font-family:\0000318}}
  .l-content .media-middle {
    max-width: 265px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/components\/_content\.scss}line{font-family:\0000321}}
  .l-content .media-full {
    max-width: 645px;
    margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/components\/_content\.scss}line{font-family:\0000325}}
  .l-content .media-thumbnail {
    max-width: 170px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/components\/_content\.scss}line{font-family:\0000328}}
  .l-content blockquote {
    margin: 0 0 0 1rem;
    font-style: italic; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/components\/_content\.scss}line{font-family:\0000332}}
  .l-content .normal, .l-content cite {
    font-style: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/components\/_content\.scss}line{font-family:\0000335}}
  .l-content cite {
    font-size: 0.7em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/components\/_breadcrumbs\.scss}line{font-family:\000031}}
ul.breadcrumb {
  display: flex;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  padding-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/components\/_breadcrumbs\.scss}line{font-family:\000038}}
  ul.breadcrumb a {
    border-bottom: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/components\/_breadcrumbs\.scss}line{font-family:\0000312}}
  ul.breadcrumb li:after {
    content: '\000BB';
    padding: 0 0.375em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/components\/_breadcrumbs\.scss}line{font-family:\0000317}}
  ul.breadcrumb li:last-child:after {
    content: ''; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/components\/_images\.scss}line{font-family:\000032}}
.l-content .image-gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Mikaela\/Sites\/devdesktop\/ANZACPortal\/docroot\/sites\/all\/themes\/custom\/commemorations\/sass\/components\/_images\.scss}line{font-family:\000037}}
  .l-content .image-gallery .media {
    width: 30%; }
