.views-slideshow-controls-top {
	width: 100%;
	a, .active {
		text-decoration: none;
		&:focus, &:hover {
			text-decoration: none;
		}
	}
	div.views-slideshow-pager-fields {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		//padding: $all-round;
		.button-secondary {
			max-width: none;
			width: auto;
			//padding: 0;
			margin: $vert-spacing-unit/4 0;
			display: block;
		}
	}
}
.activities {
	.contextual-links-region {
		width: 100%;
	}
	.views-slideshow-controls-top {
		width: 100%;
		a, .active {
			text-decoration: none;
			&:focus, &:hover {
				text-decoration: none;
			}
		}
		div.views-slideshow-pager-fields {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		//padding: $all-round;
		&> div {
			padding: 0 5px; 
		}
		.button-secondary {
			max-width: none;
			width: auto;
			//padding: 0;
			margin: $vert-spacing-unit/4 0;
			display: block;
		}
		#views_slideshow_pager_field_item_top_video_gallery-panel_pane_2_1_0 {
		//	display: none;
		//	visibility: hidden;
		}
		#views_slideshow_pager_field_item_top_video_gallery-panel_pane_2_1_1 {
				//padding-left: 0;
				.button-secondary {
					//margin-left: 0;
				}
			}
		}
	}
	.views_slideshow_main .views-slideshow-cycle-main-frame {
		max-width: 645px !important;
		width: 100%;
		text-align: center;
		//padding: $all-round;
		display: block;
		position: static;
		height: auto;
	}
	.child-activities {
		display: flex;
		justify-content: center;
		.button-secondary {
			max-width: none;
			margin-bottom: $small-spacing;
			a {
			color: $white;
			text-decoration: none;
			&:focus, &:hover, &.active {
				color: $white;
			}
		}
		}
	}
	.pane-video-gallery-panel-pane-2 {
		width: 100%;
	}
	.views-field-field-subtitle {
		text-transform: uppercase;
		font-weight: $light-font-weight;
	}
	.ui-corner-all, .ui-corner-bottom, .ui-corner-right, 
	{
		//border-bottom: 1px solid $light-grey;
		border-top: 0;
	}
	.jquery-ui-filter-header {
		padding: 0;
	}
	.ui-corner-br, .ui-corner-left, .ui-corner-bl, .ui-corner-top, .ui-corner-tr, .ui-corner-tl {
		border-bottom: 0;
		border-top: 0;
	}
	.ui-accordion .ui-accordion-icons:after {
		left: 0.5px;
		right: auto;
		content: '';
	}
	.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
		left: 0;
		top: auto;
		margin-top: 0;
		position: relative;
	}
	.ui-accordion .ui-accordion-icons {
		//padding-left: 2em;
	}
	.ui-accordion .ui-accordion-content {
		padding: $vert-spacing-unit 0;
	}
	.jquery-ui-filter {
		margin-bottom: $vert-spacing-unit;
		//max-width: 265px;
		p {
			line-height: $base-line-height;
			font-size: $base-font-size;
			color: $base-font-color;
		}
		.jquery-ui-filter-header {
			max-width: 265px;
			a {
			font-size: $base-font-size / 1.2;
			display: block;
			background-color: $light-base;
			padding: $vert-spacing-unit /2 $horz-spacing-unit /2;
			max-width: 265px;
			text-align: center;
			color: $white;
			font-weight: $light-font-weight;
			border: 1px solid $white;
			&:hover, &:focus {
				background-color: $lighter-base;
			}
		}
	}
	}
	.pane-node-body {
		.jquery-ui-filter-header {
			a {
				background-color: $secondary;
				&:hover, &:focus {
					background-color: $light-secondary;
				}
			}
		}
		#jquery-ui-filter {
			a {
				background-color: $light-base;
				&:hover, &:focus {
					background-color: $lighter-base;
				}
			}
		}
	}
	.views_slideshow_cycle_main div {
		margin: 0 auto;
		width: 100%;
		.views_slideshow_slide {
			width: 100% !important;
		}
		.views-slideshow-cycle-main-frame-row-item {
			margin: $vert-spacing-unit * 2 0 0;
			.views-field-field-text {
				font-size: $base-font-size * 1.5;
			}
		}
		img {
			max-height: 400px;
			width: auto;
			display: block;
			margin: $vert-spacing-unit*0.5 auto;
		}
	}
	.webform-client-form {
		width: 100%;
		&> div {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;
			div {
				flex: 1 0 100%;
			}
			.webform-component--email {
				flex: 0 1 35%;
				[type='email'] {
					margin-bottom: 0;
				}
			}
			.form-actions {
				flex: 0 1 20%;
				margin-bottom: 0;
				.webform-submit {
					margin: 0 0 $vert-spacing-unit $horz-spacing-unit;
					padding:  $vert-spacing-unit*0.8 $horz-spacing-unit * 0.75;
				}
				
			}
		}


	}
	table {
		margin: 0 auto;
		th {
			font-size: $base-font-size *0.5;
		}
		tbody tr {
			background-color: transparent;
			.webform-grid-question {
				min-width: 50px;
				img {
					display: block;
					max-width: 50px;
				}
			}
		}
	}
	.indent-contents {
		h3, .subtitle {
			margin-left: $horz-spacing-unit * 3;
		}
	}
	.left-sidebar-wrapper {
		.media-full {
			margin: 0;
			padding: 0;
			border: none;
		}
	}
	.activities-investigation {
		.subtitle {
			text-transform: uppercase;
		}
	}
	.right-sidebar-wrapper {
		.subtitle {
			text-transform: uppercase;
			margin-bottom: $vert-spacing-unit;
		}
	}
}
@include breakpoint(tablet) {
	.activities {
		.webform-component--email {
			flex: 1 0 45%;
		}
		table {
			th {
				font-size: $base-font-size;
			}
			tbody tr {
				.webform-grid-question {
					min-width: 100px;
					img {
						max-width: 100px;
					}
				}
			}
		}
	}

}

