.alertbox {
	border: $base-border;
	padding: 0 $horz-spacing-unit $vert-spacing-unit;
	position: relative;
	clear: both;
	h2:first-of-type {
		background-color: $base;
		margin: 0 -1rem $vert-spacing-unit -1rem;
		color: white;
		padding: $all-round;
		display: block;
	}
}