.l-branding {
	background: $accent;
	.logos {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		position: absolute;
		padding: 0 $horz-spacing-unit;
		top: 2px;
		.aus-crest {
			width: 130px;
		}
		.centenary {
			width: 40px;
			margin-left: $horz-spacing-unit;
		}
		img {
			display: block;
		}
	}
}
@include breakpoint(tablet) {
	.l-branding {
		display: flex;
		flex-wrap: nowrap;
		padding: 0 $horz-spacing-unit;
		justify-content: space-between;
		.logos {
			padding: 0;
			position: relative;
			top: 0;
			.aus-crest {
				width: 200px;
			}
			.centenary {
				width: 70px;
			}
		}
	}
}