.l-branding {
	background: $accent;
	box-shadow: 0px 1px 10px 0px $grey;
	position: relative;
	.logos {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		position: absolute;
		padding: 0 $horz-spacing-unit;
		top: 2px;
		flex: 2 0 auto;
		.aus-crest {
			width: 130px;
		}
		.centenary {
			width: 40px;
			margin-left: $horz-spacing-unit;
		}
		img {
			display: block;
		}
	}
}
@include breakpoint(tablet) {
	.l-branding {
		display: flex;
		padding: 0 $horz-spacing-unit;
		justify-content: space-between;
		.logos {
			padding: 0;
			position: relative;
			top: 0;
			.aus-crest {
				width: 200px;
			}
			.centenary {
				width: 70px;
			}
		}
	}
}