.l-branding {
	background: $accent;
	box-shadow: 0px 1px 10px 0px $grey;
	position: relative;
	.logos {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		position: absolute;
		padding: 0 $horz-spacing-unit;
		top: 2px;
		flex: 2 1 auto;
		.aus-crest {
			width: 130px;
			margin-right: $horz-spacing-unit;
		}
		.centenary {
			width: 40px;

		}
		img {
			display: block;
		}
	}
}
@include breakpoint(tablet) {
	.l-branding {
		display: flex;
		padding: 0 $horz-spacing-unit;
		justify-content: space-between;
		overflow: hidden;
		.logos {
			padding: 0;
			position: relative;
			top: 0;
			.aus-crest {
				width: 200px;
				display: none;
			}
			.centenary {
				width: 55px;
				padding: $vert-spacing-unit/4 0;
			}
		}
	}
}
@include breakpoint(desktop) {
	.l-branding {
		.logos {
			.aus-crest {
				display: block;
			}
		}
	}
}