.child-content {
	.view-content {
		& > h2 {
			flex: 1 1 100%;
		}
		& > h3 {
			display: none;
			visibility: hidden;
		}
		.views-row:not(:first-child) {
			.menu-path {
				display: none;
				visibility: hidden;
			}
		}
		.stories {
			position: relative;
			img {
				height: auto;
				display: block;
			}
			p {
				display: none;
			}
			h3 {
				background-color: $black;
				opacity: 0.8;
				a {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					text-decoration: none;
					color: $white;
					opacity: 1;
				} 
			}
		}
	}
	.view-footer {
		.history-more {
			.menu-path {
				a {
					text-decoration: none;
					color: $white;
					max-width: none;
					width: auto;
					&:hover, &:focus {
						color: $white;
					}
				}
			}
		}
	}
}
.conflicts-content {
	.view-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		$conflict-color: (1 : $gallipoli, 408 : $ww1, 16 : $ww2, 26 : $thaiburma, 11 : $kokoda, 15 : $seasia, 12 : $korea, 14 : $vietnam);
		@each $conflict, $color in $conflict-color {
			.conflict-#{$conflict} {
				border-bottom: 5px #{$color} solid;
				a:focus, a:hover {
					background-color: $color;
					color: $white;
					.conflict-image {
						opacity: 0.5;
						img {
							opacity: 1;
						}
					}
				}
			}
		}
		div[class*="conflict-"] {
			flex: 0 1 40%;
			margin-bottom: $horz-spacing-unit;
			position: relative;
			transition: background $base-duration ease;
			h3, h2 {
					font-size: $base-font-size;
					text-align: center;
					padding: 0 $vert-spacing-unit;
				a {
					color: $black;
					text-decoration: none;
					display: inline-block;	
					height: 100%;
					.conflict-image {
							height: auto;
							width: 100%;
							display: block;
					}
				
				}
				&:hover, &:focus {

						color: $white;
					}
				
			}
		}
		.history-more {
			.stories, .Great, .Victoria {
				display: none;
				visibility: hidden;
			}
		}
	}

}
