.child-content {
	.view-content {
		& > h2 {
			flex: 1 1 100%;
		}
		& > h3 {
			display: none;
			visibility: hidden;
		}
		.views-row:not(:first-child) {
			.menu-path {
				display: none;
				visibility: hidden;
			}
		}

	}
	&.veterans-stories, &.great-war-memories, &.vc-recipients {
			.view-content {
				display:flex;
				flex-wrap: wrap;
				h2 {
					flex: 1 0 100%;
				}
				.vc-recipients {
					display: flex;
					flex-wrap: wrap;
					flex: 1 0 100%;
					h3, h2 {
						flex: 1 0 100%;
					}
					.file-image {
						flex: 0 1 30%;
						padding-right: $horz-spacing-unit;
						img {
							height: auto;
						}
					}
					.vc-body {
						flex: 0 1 67%;
						.label {
							font-weight: $bold-font-weight;
						}
					}
					.vc-map {
						flex: 1 0 100%;
					}
				}
				.great-war-memories {
					flex: 1 0 100%;
					padding-bottom: $vert-spacing-unit;
					display: flex;
					&:last-child {
						padding-bottom: 0;
					}
					.file-image {
						flex: 0 1 35%;
						padding-right: $horz-spacing-unit;
						img {
							height: auto;
						}
						&:hover, &:focus {
								cursor: pointer;
							}
					}
					.war-memories-body {
						position: relative;
						flex: 0 1 65%;
						&:before {
						    content: '';
						    background: #474747;
						    position: absolute;
						    top: 0;
						    left: 0;
						    width: 45px;
						    height: 2px;
						}
						h3, h2 {
							padding-top: $vert-spacing-unit/2;
							font-size: $base-font-size * 1.2;
							a {
								font-weight: $base-font-weight;
							}
							
						}
					}
				}
				.veterans-stories {
					flex: 1 0 33%;
					position: relative;
					width: 100%;
   						 height: 100%;
   						 overflow: hidden;
					img {
						display: block;
						height: auto;
						transform: scale(1);
   						transition: all 0.3s ease-in-out;
   						 

   						 
					}
					a {
						color: $white;
						text-decoration: none;
						display: inline-block;
						position: absolute;
						top: 0;
						left: 0;
						display: flex;
						align-items: flex-end;
						padding: $all-round;
						width: 100%;
						height: 100%;
						background: rgba(0,0,0,  0.5);
						&:hover, &:focus {
						
							cursor: pointer;
						}
					}
					h3, h2 {
						margin: 0;
						font-size: $base-font-size;
					}
					&:hover, &:focus {

						img {
   						 	transform: scale(1.1);
   						 }
   						}

				}


			}
			.history-more {
   							margin-top: $vert-spacing-unit;
   						}
		}

	.view-footer {
		.history-more {
			.menu-path {
				a {
					text-decoration: none;
					color: $white;
					max-width: none;
					width: auto;
					&:hover, &:focus {
						color: $white;
					}
				}
			}
		}
	}
}

.conflicts-content {
	.view-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		$conflict-color: (1 : $gallipoli, 408 : $ww1, 16 : $ww2, 26 : $thaiburma, 11 : $kokoda, 15 : $seasia, 12 : $korea, 14 : $vietnam);
		@each $conflict, $color in $conflict-color {
			.conflict-#{$conflict} {
				border-bottom: 5px #{$color} solid;
				a {
					h3, h2 {
						font-size: $base-font-size;
						text-align: center;
						padding: 0 $vert-spacing-unit;
					}
				}
				&:focus, &:hover {
					background-color: $color;
					a {
						
						color: $white;
						h3, h2 {
							color: $white;
						}
						.conflict-image {
							opacity: 0.5;
							img {
								opacity: 1;
							}
						}
					}
				}
			}
		}
		.conflict-children {
			border-bottom: 5px $light-grey solid;
				&:focus, &:hover {
					color: $black;
					background-color: $light-grey;
					a {
						color: $black;
					}	
					.conflict-image {
						opacity: 0.5;
						img {
							opacity: 1;
						}
					}
				}
				h2 {
					text-align: left;
					font-size: $base-font-size *1.3;
					font-weight: $base-font-weight;
					padding: 0 $horz-spacing-unit;
				}
				p {
					padding: 0 $horz-spacing-unit;
				}
		}
		div[class*="conflict-"] {
			flex: 0 1 49%;
			margin-bottom: $horz-spacing-unit;
			position: relative;
			transition: background $base-duration ease;
			a {
				color: $black;
				text-decoration: none;
				display: inline-block;	
				height: 100%;
				width: 100%;
				.conflict-image {
					img {
						height: auto;
						width: 100%;
						display: block;

					}
				}
				
			}
		}

	}
}
@include breakpoint(tablet) {
		&.veterans-stories {
			.view-content {
				display:flex;
				flex-wrap: wrap;
				h2 {
					flex: 1 0 100%;
				}
				.veterans-stories {
					flex: 1 0 33%;
					&:hover, &:focus {
						h3 {
						//	height: 100%;
						}
					}
				}
			}
		}

}
