.child-content {
	.view-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		&> div {
			border: $base-border;
			flex: 0 1 40%;
			margin: $vert-spacing-unit 0;
			position: relative;
			img {
				width: 100%;
				height: auto;
				display: inline-block;
				
			}
			h2, h3 {
				font-size: $base-font-size;
				padding: 0 $horz-spacing-unit;
				a {
					display: inline-block;
					width: 100%;
					height: auto;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
			p {
				padding: 0 $horz-spacing-unit;
				font-size: $base-font-size * 0.8;
			}

		}
		h3 {
				flex: 1 1 100%;
			}
	}
}