.l-content {
    //padding: 0;

    .content-wrapper {
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        background-color: $white;
    }
    .middle {
        max-width: 265px;
    }
    .full {
        max-width: 645px;
    }
    .left {
        float: left;
    }
    .right {
        float: right
    }
    .center {
        margin: 0 auto;
    }
    .footnotes, .sources {
        border-top: $base-border;
        padding: $vert-spacing-unit  0 $vert-spacing-unit $horz-spacing-unit ;
        margin: $vert-spacing-unit * 2 0 0;
    }
    .see-footnote:target, .footnotes .footnote:target {
        background-color: $light-grey;
    }
    
} 
