.l-content {
    //padding: 0;

    .content-wrapper {
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        background-color: $white;
    }
    .middle {
        max-width: 265px;
    }
    .full {
        max-width: 645px;
    }
    .left {
        float: left;
    }
    .right {
        float: right
    }
    .center {
        margin: 0 auto;
    }
    .footnotes, .sources {
        border-top: $base-border;
        padding: $vert-spacing-unit  0 $vert-spacing-unit $horz-spacing-unit ;
        margin: $vert-spacing-unit * 2 0 0;
    }
    .see-footnote:target, .footnotes .footnote:target {
        background-color: $light-grey;
    }
    .clear {
    	clear: both;
    }
} 
.node-type-veterans {
    .pane-node-content {

        display: flex;
        flex-wrap: wrap;
        flex: 1 0 100%;
        .field--name-title {
            flex: 1 0 100%;
        }
        .field--name-field-image {
            flex: 0 1 30%;
            padding-right: $horz-spacing-unit;
            img {
                height: auto;
            }
        }
        .vc-body {
            flex: 0 1 67%;
            .label {
                font-weight: $bold-font-weight;
            }
        }
        .vc-map {
            flex: 1 0 100%;
        }
    }
}
.content-full, .node-type-book {
    .background-header {
        box-shadow: 0px 1px 10px 0px $black;
        z-index: 10;
    }
    .center-wrapper {
        padding: $vert-spacing-unit $horz-spacing-unit 0;
        .multimedia-child {
            display: flex;
        }
        .field--name-field-image {
            flex: 1 0 25%;
            padding-right: $horz-spacing-unit;
        }
        .group-body {
            flex: 1 0 70%;
                .field--name-field-document > .field__items > .field__item {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    margin-bottom: $small-spacing/2;
                    position: relative;
                }
                .field--type-text {
                    font-weight: $bold-font-weight;
                    margin: 0 auto 0 0;
                    padding-right: $small-spacing;
                }
                .file-size, .file-icon {
                    display: none;
                    visibility: hidden;
                }
                .field--name-field-accessible-alternative {
                    margin-left: $small-spacing/1.5;
                }
            
            .file > a, .link a, .ebook a {
                appearance: none;
                background-color: $ww1;
                border: 1px solid $white;
                color: $white;
                cursor: pointer;
                display: inline-block;
                -webkit-font-smoothing: antialiased;
                font-weight: 500;
                line-height: 1;
                padding: $small-spacing;
                text-align: center;
                text-decoration: none;
                transition: background-color $base-duration $base-timing;
                user-select: none;
                vertical-align: middle;
                white-space: nowrap;
                text-transform: uppercase;
                &:hover,
                &:focus {
                    background-color: lighten($ww1, 10%);
                }
                &:active {
                    box-shadow: inset 0 0 10px $black;
                }
                &:disabled {
                    cursor: not-allowed;
                    opacity: 0.5;

                    &:hover {
                        background-color: $action-color;
                    }
                }
            }
        }
    }
}

