.l-content {
    //padding: 0;
    .content-wrapper {
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        background-color: $white;
    }
    .full-width {
        background-color: $accent;
        box-shadow: 0px 1px 10px 0px $light-grey;
        position: relative;
    }
    .media {
        align: center;
        padding: $all-round;
        border: 1px solid $light-base;
        img {
            height: auto;
        }
        .caption {
            font-size: $small-font-size;
        }
    }
    .media-middle {
        max-width: 265px;
    }
    .media-full {
        max-width: 645px;
        margin: 0 auto;
    }
    .media-thumbnail {
        max-width: 170px;
    }
    blockquote {
        margin: 0 0 0 $horz-spacing-unit;
        font-style: italic;
    }
    .font-normal, cite {
        font-style: normal;
    }
    cite {
        font-size: $small-font-size;
    }
} 
