.views-exposed-form {
	background: $accent;
	padding: $all-round;
	position: relative;
	margin-bottom: 90px;
	.views-exposed-widget {
		padding-top: 0;
		.form-submit {
			margin-top: 2.4em;
		}
	}
	select {
		margin-bottom: 0;
	}

	.form-type-select {
		select {
			background: url('../images/down-arrow.png') no-repeat right center $white;
			background-size: 30px;
			padding: $small-spacing/2;
			-webkit-appearance: none;
			border-image: none;
			border-radius: 0 !important;
			border: 1px solid lighten($grey, 50%);
			&::-ms-expand {
				display: none;
			}
		}
	}
	.form-radios{
		display: flex;
		text-transform: uppercase;
	}
	.form-type-bef-link {
			cursor: pointer;
			color: $action-color;
			display: inline;
			font-weight: $light-font-weight;
			width: auto;
			&:visited {
				color: $light-base;
			}
			&:focus,
			&:hover {
				color: $alert;
			}
			a {
				padding: $small-spacing;
			}
			a.active{
			appearance: none;
			
				  background-color: $light-base;
				  border: 1px solid $white;
				  display: block;
				  color: $white !important;
				  cursor: pointer;
				  display: inline-block;
				  -webkit-font-smoothing: antialiased;
				  font-weight: 500;
				  line-height: 1;
				  text-align: center;
				  text-decoration: none !important;
				  transition: background-color $base-duration $base-timing;
				  user-select: none;
				  vertical-align: middle;
				  white-space: nowrap;
				  &:hover,
				  &:focus {
				    background-color: $lighter-base;
				  }
				  &:active {
				    box-shadow: inset 0 0 10px $black;
				  }
				  &:disabled {
				    cursor: not-allowed;
				    opacity: 0.5;

				    &:hover {
				      background-color: $action-color;
				    }
				  }
				
		}
		}
		.views-widget-sort-by {
			position: absolute;
			top: 100%;
			margin-top: 20px;
			left: $horz-spacing-unit;
			height: auto;
			display: block;

			label {
				font-weight: $base-font-weight;
				padding: $small-spacing $small-spacing $small-spacing 0;
				margin: 0;
				text-transform: uppercase;
			}
			.form-item {
				display: flex;
				align-items: center;
				a {
					text-decoration: none;
					text-transform: uppercase;
				}
				a.active{
				  background-color: $ww1;
				  &:hover,
				  &:focus {
				    background-color: lighten($ww1, 10%);
				  }
				}
			}
			
		}
	[type='submit'] {
		max-width: none;
		width: auto;
	}
}
.right-sidebar-wrapper {
	.views-exposed-form {
		margin-bottom: $vert-spacing-unit;
		margin-top: -$vert-spacing-unit;
		margin-right: -16px;
		margin-left: -16px;
		padding-left: 16px;
	}
}
@include breakpoint(tablet) {
	.right-sidebar-wrapper {
	.views-exposed-form {
	margin-right: -48px;
	margin-left: -48px;
	padding-left: 48px;
}
}
}