.full-width {
    position: relative;
    background-color: $accent;
	.menu-block-7, .menu-block-8 {
		ul {
			padding: 0;
			li {
				display: none;
				height: 200px;
				position: relative;
				&.active-trail {
					display: block;
					$page-header: 219, 740, 752, 753, 754, 482, 469, 468, 465, 467, 466, 456, 891;

					@each $header in $page-header {
						&.menu-mlid-#{$header} {
							background: url('../images/header/#{$header}.jpg'), $black;
							background-repeat: no-repeat;
							background-position: top center;
							background-size: cover;
						}
					}
					$gradient-header: 482, 468, 467, 891;
						@each $gradient in $gradient-header {
							&.menu-mlid-#{$gradient} {
								.background-header {
									background: url('../images/gradient-#{$gradient}.png') repeat-y transparent;
								}
							
						}
					}
					.background-header {
						display: flex;
						flex-direction: column;
						justify-content: flex-end;
						padding: $all-round;
						background: url('../images/gradient-default.png') repeat-y transparent;
						height: 100%;
						
					}
					a {
						display: block;
						z-index: 99;

						pointer-events: none;
						cursor: default;
						text-decoration: none;
						color: $white;
						padding: 0 $horz-spacing-unit;
					}
					h1 {
						font-size: $base-font-size * 2;
						margin: $vert-spacing-unit/4 0;
					}
				}
			}
		}
	}
}
@include breakpoint(tablet) {
	.full-width {
		.menu-block-7, .menu-block-8 {
			ul {
				li {
					height: 300px;
				}
			}
		}
	} 
}
@include breakpoint(desktop) {
	.full-width {
		.menu-block-7, .menu-block-8 {
			ul {
				li {
					&.active-trail {
						.background-header {
							a {
								padding: 0;
							}
						}
					}
				}
			}
		}
	} 
}