.full-width {
	.menu-block-7, .menu-block-8 {
		ul {
			padding: 0;
			li {
				display: none;
				height: 200px;
				position: relative;
				&.active-trail {
					display: block;
					$page-header: 219, 740, 752, 753, 754, 482, 469, 468, 465, 467, 466, 456, 891;

					@each $header in $page-header {
						&.menu-mlid-#{$header} {
							background: url('../images/header/#{$header}.jpg'), $black;
							background-repeat: no-repeat;
							background-position: center;
							background-size: cover;
						}
					}
					.background-header {
						background: rgba($black, 0.5);
						width: 100%;
						position: absolute;
						bottom: 0px;
						a {
							display: block;
							max-width: 1140px;
							z-index: 99;
							font-size: $base-font-size * 1.8;
							pointer-events: none;
							cursor: default;
							text-decoration: none;
							color: $white;
							text-transform: uppercase;
							margin: 0 auto;
							padding: 0 $horz-spacing-unit;
						}
					}
					
				}
			}
		}
	}
}
@include breakpoint(tablet) {
	.full-width {
		.menu-block-7, .menu-block-8 {
			ul {
				li {
					height: 300px;
				}
			}
		}
	} 
}
@include breakpoint(desktop) {
	.full-width {
		.menu-block-7, .menu-block-8 {
			ul {
				li {
					&.active-trail {
						.background-header {
							a {
								padding: 0;
							}
						}
					}
				}
			}
		}
	} 
}