.front {
	.l-content {
		.full-width {
			box-shadow: none;
			.header-home {
				height: 200px;
				position: relative;
				background-color: $black;
				background-repeat: no-repeat;
				background-position: top center;
				background-size: cover;
				vertical-align: bottom;
				box-shadow: 0px 1px 10px 0px $black;
				.home-title {
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					padding: $all-round;
					background: url('../images/gradient-default.png') repeat-y transparent;
					height: 100%;
					h1, h2 {
						color: $white;
						margin: 0;
						.caps {
							text-transform: uppercase;
						}
					}
					h2 {
						font-size: $base-font-size * 1.2;
					}
				}
			}
		}
		.center-wrapper {
			padding: $all-round;
			 .conflicts-content {
				.view-content {

			 		justify-content: space-between;

					
			 		div[class^="conflict-"] {
			 			flex: 0 1 49%;
			 			}
			 	}
				
			}
			.veterans-story {
				position: relative;
				text-align: left;
				text-transform: uppercase;
				overflow: hidden;
				box-shadow: 0px 1px 10px 0px #000;
				&:hover, &:focus {
						opacity: 0.8;

						img {
   						 	transform: scale(1.05);
   						 }
					}
				.veterans-banner {
					display: none;
					visibility: hidden;
				}
				.veterans-banner-mobile {
					display: block;
					width: 100%;
				}
				img {
					display: block;
					width: 100%;
					height: 100%;
					transform: scale(1);
   					transition: all 0.3s ease-in-out;
				}
				a {
					display: inline-block;
					vertical-align: middle;
					
				}
				h3 {
						position: absolute;
						left: $horz-spacing-unit;
						width: 28%;
						margin: 0.75em 0;
						padding: 0;
						font-size: $base-font-size * 1.2;
						top: 20%;
						
						.veteran {
							font-size: $base-font-size * 1.9;
							line-height: 1;
							
						}
						a {
							color: $white;
							text-decoration: none;
							border-bottom: none;
						}
				}
			}
		}
		.middle-wrapper {
			padding: 0 $horz-spacing-unit $vert-spacing-unit;
			h2 {
				text-transform: uppercase;
				font-size: $base-font-size * 1.2;
				margin-top: 0;
				a {
					color: $dark-grey;
					text-decoration: none;
					&:hover, &:focus, &:active {
						color: $heading-font-color;
					}
				}
			}
			.right-sidebar-wrapper {
				padding: $vert-spacing-unit 0 0;
			}
			.full-video, .middle-video {
				margin: 0 auto;
				width: 100%;
				max-width: none;
				.caption, .read-more, .button {
					display: none;
					visibility: hidden;
				}
			}
			.latest-publications {
				.publication > div {
					display: flex;
					padding-bottom: $vert-spacing-unit;
					.publication-image {
						flex: 0 1 30%;
						padding: 0 $horz-spacing-unit 0 0;
						img {
							width: 100%;
							height: auto;
						}
					}
					.publication-content {
						flex: 0 1 70%;
						display: flex;
						flex-direction: column;
						p {
							font-size: $base-font-size * 0.8;
						}
						.title {
							font-size: $base-font-size;
							position: relative;
							padding-top: $vert-spacing-unit/2;
							&:before {
								content: '';
								background: $grey;
								position: absolute;
								top: 0;
								left: 0;
								width: 45px;
								height: 2px;
							}
						}	
					}
				}
			}
			.target-content {
				background-color: $kokoda;
				position: relative;
				h2 {
					margin: 0;
				}
				a {
					color: $white;
					text-decoration: none;
					position: absolute;
					padding: $all-round;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 10;
					&:hover, &:focus, &:active {
						color: $white;
					}
				}
				.field--name-field-image {
					img {
						height: auto;
						display: block;
						
					}
					.even {
						padding-top: $vert-spacing-unit *3.2;
					}
					.odd {
						display: none;
						position: absolute;
						top: $vert-spacing-unit *2;
						transform: rotate(8deg);
						box-shadow: 0px 0px 10px 0px $black;
					}
				}
				
			}
			.subscribe, .run-event {
				padding: $all-round;
				label, h3 {
					color: $white;
					text-transform: uppercase;
					font-size: $base-font-size * 1.2;
					font-weight: 300;
					margin: 0 0 0.75em 0;
					&+ p {
						color: $white;
						font-size: $base-font-size * 0.8;
					}
				}
				.button-secondary {
					background-color: darken($ww1, 5%);
					&:hover, &:focus {
						background-color: lighten($ww1, 5%);
					}
				}
				
			}
			.subscribe {
				background: url('../images/subscribe-background.png') no-repeat;
				background-size: 100% auto;
				margin-bottom: $vert-spacing-unit;
				.email {
					max-width: none;
					width: 100%;
				}
				
			}
			.run-event {
				background-color: $seasia;
				margin-bottom: $vert-spacing-unit;
				p {
					margin-bottom: 0;
				}
				.button-secondary {
					max-width: 250px;
					width: auto;
					margin-top: $vert-spacing-unit;
					text-decoration: none;
					display: block;
					&:hover, &:focus {
						color: $white;
					}
					
				}
			}
		}
	}
}
@include breakpoint(tablet) {
	.front {
		.l-content {
			.full-width {
				.header-home {
					height: 300px;
				}
			}
			.center-wrapper {
				.conflicts-content {
					.view-content {

						div[class^="conflict-"] {
							flex: 0 1 23.5%;
						}
					}
				}
				.veterans-story {
					h3 {
						top: $vert-spacing-unit/2;
						left: 48%;
						width: 25%;
						font-size: $base-font-size * 1.7;
					}
					.veterans-banner-mobile {
						display: none;
						visibility: hidden;
					}
					.veterans-banner {
						display: block;
						visibility: visible;
					}
					
				}
			}
			.middle-wrapper {
				.left-sidebar-wrapper {
					flex: 0 1 50%;
					padding-right: $horz-spacing-unit/2;
				}			
				.right-sidebar-wrapper {
					padding: 0 0 0 $horz-spacing-unit/2;
					flex: 0 1 50%;
				}
				.target-content {
					.field--name-field-image {
						.odd {
							display: block;
							width: 40%;
							right: $horz-spacing-unit;
						}
					}
					
				}
			}
			
		}
	}
}
@include breakpoint(desktop) {
	.front {
		.l-content {
			.center-wrapper {
				.veterans-story {
					h3 {
						width: 25%;
						top: $vert-spacing-unit;
						font-size: $base-font-size * 2;
						.veteran {
							font-size: $base-font-size * 2.2;
						}
					}
				}
			}
			.middle-wrapper {
				.target-content {
					.field--name-field-image {
						.odd {
							width: 265px;
							right: $horz-spacing-unit *2;
						}
					}
				}
			}
		}
	}
}