.l-content {
	.image-gallery {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.media {
			width: 30%;

		}
	}
	.full-width {
        background-color: $accent;
        box-shadow: 0px 1px 10px 0px $light-grey;
        position: relative;
    }
    .media {
        align: center;
        border: 1px solid $light-grey;
        text-align: left;
        img {
            height: auto;
        }
        a {
        	border-bottom: 0;
        }
        .caption, .read-more p {
            font-size: $small-font-size;
            padding: $all-round;
            margin: 0;
            p {
            	margin: -8px 0 -5px 0;
            }
        }
        .read-more p {
            margin-top: -$vert-spacing-unit;
        }
        .button {
            margin: 0 $horz-spacing-unit $vert-spacing-unit;
        }
    }
    .media-middle {
        max-width: 265px;
        width: 50%;
    }
    .media-full {
        max-width: 645px;
        margin: $vert-spacing-unit auto;
    }
    .media-thumbnail {
        max-width: 170px;
        width: 50%;
    }
    
}