.left-sidebar-wrapper {
	.left-menu {
		background-color: $light-base;
		ul {
			padding: 0;
			&> li {
				list-style: none;
				a {
					color: $white;
					border-bottom: 0;
					//&:after {
					//	content: '\025BE';
					//	color: $white;
					//	font-size: $base-font-size * 1.2;
					//}
				}
				&.expanded {
					&> a {
						&:after {
							content: '\025BE';
							color: $white;
							font-size: $base-font-size * 1.2;
						}
					}
				}
				ul {
					background-color: $base;
					li {
						ul {
							background-color: $dark-base;
						}
					}
				}
			}
		}
	}
}