.left-sidebar-wrapper {
	.left-menu, .conflicts-menu, .left-menu-footer, .left-book-menu {
		background-color: $light-base;
		display: none;
		ul {
			padding: 0;
			li {
				list-style: none;
				a {
					padding: $vert-spacing-unit/2 $horz-spacing-unit;
					display: block;
					position: relative;
					color: $white;
					border-bottom: 1px solid lighten($dark-base, 5%);
					text-decoration: none;
					&.active {
						font-weight: $bold-font-weight;
					}
					&:hover, &:focus {
						background-color: $secondary;
					}
				}
				ul {
					background-color: $base;
					ul {
						background-color: $dark-base;
					}
				}
			}
		}
	}
	.left-menu {
		ul {
			&> li {
				display: none;
				&.active-trail {
					display: list-item;
				}
				&> ul {
					background-color: $light-base;
					&> li {
						display: list-item;
						&.expanded {
							background-color: $base;
							&> a {
								padding-right: $horz-spacing-unit *2;
								&:after {
									content: '\025BE';
									position: absolute;
									right: $horz-spacing-unit;
									top: 5px;
									color: $white;
									font-size: $base-font-size * 1.2;
								}
							}
							&.active-trail {
								font-weight: $bold-font-weight;
							}
						}
						&.collapsed {
							&> a {
								padding-right: $horz-spacing-unit *2;
								&:after {
									content: '\025B8';
									position: absolute;
									right: $horz-spacing-unit;
									top: 5px;
									color: $white;
									font-size: $base-font-size * 1.2;
								}
							}
						}
						ul {
							background-color: $dark-base;
							li {
								a {
									//padding: $vert-spacing-unit/2 $horz-spacing-unit $vert-spacing-unit/2 $horz-spacing-unit*2;
								}
							}
						}
					}
				}
			}
		}
	}
	.conflicts-menu {
		ul li {
			&.expanded, &.has-children.active-trail {
				&> a {
					padding-right: $horz-spacing-unit *2;
					&:after {
						content: '\025BE';
						position: absolute;
						right: $horz-spacing-unit;
						top: 5px;
						color: $white;
						font-size: $base-font-size * 1.2;
					}
				}
				&.active-trail {
					font-weight: $bold-font-weight;
				}
			}
			&.collapsed, &.has-children {
				&> a {
					padding-right: $horz-spacing-unit *2;
					&:after {
						content: '\025B8';
						position: absolute;
						right: $horz-spacing-unit;
						top: 5px;
						color: $white;
						font-size: $base-font-size * 1.2;
					}
				}
			}
			ul {
				li {
					a {
						padding: $vert-spacing-unit/2 $horz-spacing-unit $vert-spacing-unit/2 $horz-spacing-unit*2;
					}
					ul li {
						a {
							padding: $vert-spacing-unit/2 $horz-spacing-unit $vert-spacing-unit/2 $horz-spacing-unit*3;
						}
						ul li {
							a {
								padding: $vert-spacing-unit/2 $horz-spacing-unit $vert-spacing-unit/2 $horz-spacing-unit*4;
							}
						}
					}
				}
			}
		}
	}
	.sf-accordion {
		&> li {
			display: none;
		}
		li.active-trail {
			display: list-item;
		}
		.sf-clone-parent {
			display: none;
		}
	}
}
@include breakpoint(tablet) {
	.left-sidebar-wrapper {
		.left-menu, .conflicts-menu, .left-menu-footer, .left-book-menu {
			display: block;
		}
	}
}