.menu-wrapper {
	.main-menu {
		height: 100%;
		.menu-block-wrapper {
			height: 100%;
			text-transform: uppercase;
			ul {
				display: flex;
				flex-wrap: nowrap;
				height: 100%;
				li {
					list-style: none;
					border-left: 1px solid $base;
					&.last {
						border-right: 1px solid $base;
					}
					a {
						display: flex;
						flex-direction: column;
						justify-content: center;
						text-align: center;
						height: 100%;
						padding: 0 $horz-spacing-unit;

					}
					&:hover, &:focus {
							background: $base;
							a {
								color: $white;
							}
						}

				}

			}
		}
	}
}
.mean-container { 
	.mean-bar {
		background: transparent;
		padding-bottom: 0;
		a {
			background: $base;
			&.meanmenu-reveal {
				
			}
		}
	}
	.mean-nav {
		margin-top: 42px;
		ul li {
			a {
				border-top: 1px solid $base;
				padding: $vert-spacing-unit/2 2.5%;
				width: 95%;
				background: $light-base;
				font-weight: $light-font-weight;
			}
		}
	}
}
@include breakpoint(tablet) {
	.menu-wrapper {
		.main-menu {
			.menu-block-wrapper {
				ul {
					li {
						ul {
							display: none;
						}
					}
				}
			}
		}
	}
}