.menu-wrapper {
	.main-menu {
		height: 100%;
		.menu-block-wrapper {
			height: 100%;
			text-transform: uppercase;
			ul {
				display: flex;
				flex-wrap: nowrap;
				height: 100%;
				li {
					list-style: none;
					border-left: 1px solid $base;
					transition: background $base-duration ease;
					&.last {
						border-right: 1px solid $base;
					}
					a {
						display: flex;
						flex-direction: column;
						justify-content: center;
						text-align: center;
						height: 100%;
						padding: 0 $horz-spacing-unit;
						font-weight: $base-font-weight;
					}
					&:hover, &:focus, &.active-trail {
						background: $base;
						a {
							color: $white;
						}
					}
				}

			}
		}
	}
}
.mean-container { 
	.mean-bar {
		background: transparent;
		padding-bottom: 0;
		a {
			background: $base;
			&.meanmenu-reveal {
				
			}
		}
	}
	.mean-nav {
		margin-top: 42px;
		ul li {
			a {
				border-top: 1px solid $base;
				padding: $vert-spacing-unit/2 2.5%;
				width: 95%;
				background: $light-base;
				font-weight: $light-font-weight;
				&:hover, &:focus {
					background: $secondary;
				}
				&.mean-expand, &.mean-clicked {
					background-size: auto 10px;
					overflow: hidden;
					text-indent: 200%;
					width: 16px;
					height: 16px;
				}
				&.mean-expand {
					background: url('../images/right-arrow.png') no-repeat center;
					background-size: auto 10px;
					border: 0 !important;
					&:hover {
						background: $light-secondary url('../images/right-arrow.png') no-repeat center;
						background-size: auto 10px;
					}
				}
				&.mean-clicked {
					background: url('../images/down-arrow.png') no-repeat center;
					background-size: auto 10px;
					&:hover {
						background: $light-secondary url('../images/down-arrow.png') no-repeat center;
						background-size: auto 10px;
					}
				}

			}
			li {
				a {
					background: $base;
					padding: $vert-spacing-unit/2 5%;
					width: 90%;
					opacity: 1;
					border-top: 1px solid $light-base;
				}
				li {
					a {
						background: $dark-base;
						padding: $vert-spacing-unit/2 7.5%;
						width: 85%;
						border-top: 1px solid lighten($dark-base, 5%);
					}
				}
			}
		}
	}
}
@include breakpoint(tablet) {
	.menu-wrapper {
		.main-menu {
			.menu-block-wrapper {
				ul {
					li {
						ul {
							display: none;
						}
					}
				}
			}
		}
	}
}