.menu-wrapper {
	height: 100%;
	.main-menu {
		height: 100%;
		.menu-block-wrapper {
			height: 100%;
			text-transform: uppercase;
			ul {
				display: flex;
				height: 100%;
				li {
					height: 100%;
					list-style: none;
					border-left: 1px solid $base;
					transition: background $base-duration ease;
					&.menu-mlid-754 {
						border-right: 1px solid $base;
					}
					a {
						display: flex;
						justify-content: center;
						flex-direction: column;
						height: 100%;
						padding: 0 $horz-spacing-unit;
						font-weight: $base-font-weight;
						border-bottom: none;
						color: $black;
						&:visited {
							color: $black;
						}
					}
					&:hover, &:focus, &.active-trail {
						background: $base;
						a {
							color: $white;
						}
					}
					&.menu-mlid-2870 {
						display: none;
					}
				}

			}
		}
	}
}
.mean-container { 
	.mean-bar {
		background: transparent;
		padding-bottom: 0;
		a {
			background: $base;
		}
	}
	.mean-nav {
		margin-top: 42px;
		ul li {
			a {
				border-top: 1px solid $base;
				padding: $vert-spacing-unit/2 2.5%;
				width: 95%;
				background: $light-base;
				font-weight: $light-font-weight;
				&:hover, &:focus {
					background: $secondary;
				}
				&.mean-expand, &.mean-clicked {
					background-size: auto 10px;
					overflow: hidden;
					text-indent: 200%;
					width: 16px;
					height: 16px;
				}
				&.mean-expand {
					background: transparent;
					border: 0 !important;
					&:after {
						content: '\025B8';
						color: $white;
						font-size: $base-font-size * 1.2;
						position: absolute;
						top: 3px;
						left: 0;
						margin-left: -20px;
					}
					&:hover {
						background-color: $light-secondary;
					}
				}
				&.mean-clicked {
					background: transparent;
					&:after {
						content: '\025BE';
						color: $white;
						font-size: $base-font-size * 1.2;
						position: absolute;
						top: 3px;
						left: 0;
						margin-left: -20px;
					}
					&:hover {
						background-color: $light-secondary;
					}
				}

			}
			li {
				a {
					background: $base;
					padding: $vert-spacing-unit/2 5%;
					width: 90%;
					opacity: 1;
					border-top: 1px solid $light-base;
				}
				li {
					a {
						background: $dark-base;
						padding: $vert-spacing-unit/2 7.5%;
						width: 85%;
						border-top: 1px solid lighten($dark-base, 5%);
					}
				}
			}
		}
	}
}
@include breakpoint(tablet) {
	.menu-wrapper {
		.main-menu {
			.menu-block-wrapper {
				ul {
					li {
						ul {
							display: none;
						}
					}
				}
			}
		}
	}
}