.view-gallery {
	width: 100%;
	.view-content {
		.masonry-item {
			width: 31%;
			padding: 0;
			margin: 1%;
			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}
		
	}
}
@include breakpoint(tablet) {
	.view-gallery {
		.view-content {
			.masonry-item {
				width: 23%;
			}
		}
	}
}