.view-gallery {
	clear: both;
	//margin-bottom: $vert-spacing-unit;
	width: 100%;
	.view-content {
		margin: 0 auto;
		.masonry-item {
			width: 170px;
			padding: 0;
			margin: 1%;
			img {
				height: auto;
				display: block;
			}
		}
		
	}
}
@include breakpoint(tablet) {
	.view-gallery {
		.view-content {
			.masonry-item {
				width: 140px;
				&:first-child:nth-last-child(2), &:first-child:nth-last-child(2) ~ .masonry-item {
				width: 220px;
			}
			}
		}
	}
}
@include breakpoint(desktop) {
	.view-gallery {
		.view-content {
			.masonry-item {
				width: 165px;
				&:first-child:nth-last-child(3), &:first-child:nth-last-child(3) ~ .masonry-item, {
					width: 200px;
				}
			}
		}
	}
}