.view-gallery {
	clear: both;
	.view-content {
		margin: 0 auto;
		.masonry-item {
			width: 200px;
			padding: 0;
			margin: 1%;
			&:first-child:nth-last-child(3), &:first-child:nth-last-child(3) ~ .masonry-item, {
				width: 200px;
			}
			&:first-child:nth-last-child(2), &:first-child:nth-last-child(2) ~ .masonry-item {
				width: 265px;
			}
			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}
		
	}
}
@include breakpoint(tablet) {
	.view-gallery {
		.view-content {
			.masonry-item {
				width: 177px;
			}
		}
	}
}