.page-multimedia {
    .l-content {
    .multimedia-image-gallery {

        padding: $all-round;
        .masonry-item {
            width: 264px;
            height: auto;
            padding: 0;
            border: none;
            background-color: transparent;
            img {
                display: block;
            }
           
        }
         
    }
    a.button-secondary {
                color: $white;
                text-decoration: none;
                &:hover, &:focus, &:visited {
                    color: $white;
                }
            }
        }
}