.full-width {
	.secondary-menu, .education-secondary-menu, .conflicts-secondary-menu {
		height: $menu-height;
		box-shadow: 0px 1px 10px 0px $black;
		border-bottom: none;
		position: relative;
		display: none;
		.menu-block-wrapper {
			max-width: 1140px;
			margin: 0 auto;
			width: 100%;
			height: 100%;
			text-transform: uppercase;
			ul {
				display: flex;
				height: 100%;
				padding: 0;
				li {
					list-style: none;
					border-left: 1px solid $base;
					transition: background $base-duration ease;
					&.last {
						border-right: 1px solid $base;
					}
					a {
						display: flex;
						flex-direction: column;
						justify-content: center;
						height: 100%;
						padding: 0 $horz-spacing-unit;
						font-weight: $base-font-weight;
						text-decoration: none;
						&:visited {
							color: $black;
						}
					}
				}
				&> li {
					&> a:hover, &> a:focus, &> a.active {
						background: $base;
						color: $white;
					}
					a {
						color: $black;
					}
				}
			}
		}
	}
	.secondary-menu {
		.menu-block-wrapper {
			ul {
				&> li {
					display: none;
					&.active-trail {
						display: flex;
					}
					ul {
						&> li {
							display: list-item;
							&:hover, &:focus, &.active {
								background: $base;
								a {
									color: $white;
								}
							}
							ul {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}
@include breakpoint(tablet) {
	.full-width {
		.secondary-menu, .education-secondary-menu, .conflicts-secondary-menu {
			display: block;
		}
	}
}
