.social {
	display: flex;
	order: 2;
	width: 100%;
	padding: $all-round;
	p {
		height: 100%;
		label {
			text-transform: uppercase;
			color: $white;
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
			padding-right: $horz-spacing-unit;
		}
	}
	.account-list {
		align-items: stretch;
		display: flex;
		justify-content: center;
		div {
			flex: 0 0 auto;
			margin: 5px;
			height: 30px;
			width: 30px;
			a {
				display: block;
				height: 100%;
				text-indent: 200%;
				width: 100%;
				overflow: hidden;
			}

			$social-media: facebook, twitter, youtube;

			@each $account in $social-media {
				&.#{$account} a {
					background: url('../images/social/icn-#{$account}.png'), $black;
					background-repeat: no-repeat;
					background-position: center;
					background-size: auto 15px;
					transition: all 0.2s ease-in-out;
					&:hover, &:focus{
						background-size: auto 20px;
					}
				}
			}
			.desktop {
				display: none;
				visibility: hidden;
			}
			.mobile {
				display: block;
				visibility: visible;
			}
		}
	}
}
@include breakpoint(tablet) {
	.social {
		order: 4;
	}
}