.video-gallery {
	.views-slideshow-cycle-main-frame  {
		padding-bottom: 70%;
		width: 100% !important;
		.views-slideshow-cycle-main-frame-row {
			width: 100% !important;
			height: auto !important;
			.full-video {
				margin: 0 auto;
			}
		}
	}
	#widget_pager_bottom_video_gallery-panel_pane_1_1 {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: $vert-spacing-unit;
		.views-slideshow-pager-field-item {
			
			border: $base-border;
			flex: 0 1 30%;
			padding-left: 0;
			margin: $small-spacing /2;
			&:hover, &:focus {
				a {
					color: $alert;
				}
			}
			&.active {
				border: 1px solid $black;
				text-decoration: none;
				 img {
				 	border: none;
				 }
			}
			.views-content-field-image {
			img {
				width: 100%;
				height: auto;
				max-width: none;
				max-height: none;
			}
		}
		.views-field-title {
			padding: 0 $small-spacing/2 $small-spacing/2;
			text-align: center;
			display: block;
			a {
				font-size: $base-font-size * 0.7;
				text-decoration: none;

			}
		}
		}
		
	}
}
@include breakpoint(tablet) {
	.video-gallery {
	.views-slideshow-cycle-main-frame  {
	}
	#widget_pager_bottom_video_gallery-panel_pane_1_1 {
		.views-slideshow-pager-field-item {
			flex: 0 1 22%;
		}
	}
}
}
@include breakpoint(desktop) {
	.video-gallery {
	.views-slideshow-cycle-main-frame  {
		padding-bottom: 58%;
	}
	#widget_pager_bottom_video_gallery-panel_pane_1_1 {
		.views-slideshow-pager-field-item {
			flex: 0 1 18.4%;
		}
	}
}
}