.video-player {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	overflow: hidden;
}
.full-video {
	clear: both;
}
.middle-video, .full-video {
	margin: 0 auto;
	max-width: 645px;
	border: $base-border;
	.caption, .read-more {
	    font-size: $small-font-size;
	    padding: $all-round;
	    margin: 0;
	    p:last-child {
	        margin: 0;
	    }
	}
	.read-more {
	    padding-top: 0;
    }
    .button {
        margin: 0 $horz-spacing-unit $vert-spacing-unit;
    }
}
.video-player iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@include breakpoint(tablet) {
	.middle-video {
		max-width: 265px;
		&.right {
			float: right;
			margin-left: $horz-spacing-unit;
		}
		&.left {
			float: left;
			margin-right: $horz-spacing-unit;
		}
	}
}