$black: #000000;
$white: #FFFFFF;

$dark-base: #200206;
$base: #531b21;
$light-base: #6c2e37;
$accent: #fefce8; //#f1f1f1 - light grey #fefce8 - cream

$text-color: $black;

$dark-grey: #262626;
$grey: #474747;
$mid-grey: #aaaaaa;
$light-grey: #e6e6e6;
