$black: #000000;
$white: #FFFFFF;

$dark-base: #200206;
$base: #531b21;
$light-base: #6c2e37;
$lighter-base: #974d57;
$accent: #fefce8; //#f1f1f1 - light grey #fefce8 - cream
$secondary: #123731;
$light-secondary: #33645c;
$alert: #9e0b0f;

$text-color: $black;

$dark-grey: #262626;
$grey: #474747;
$mid-grey: #aaaaaa;
$light-grey: #e6e6e6;

$color-gallipoli: #647e7b;
$color-westernfront: #9ca48f;
$color-ww2: #737165;
$color-thaiburma: #6c3733;
$color-kokoda: #8d8266;
$color-seasia: #40534d;
$color-korea: #9db0ae;
$color-vietnam: #52654a;