body {
  font-weight: $base-font-weight;
  font-size: $base-font-size;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin: $small-spacing 0 $small-spacing;
  color: $heading-font-color;
}
h1 {
  font-size: $base-font-size * 2.1;
  font-weight: $light-font-weight;
  margin: 0 0 $small-spacing;
}
h2 {
  font-weight: $light-font-weight;
  font-size: $base-font-size * 1.8;
}
h3 {
  font-size: $base-font-size * 1.6;
}
h4 {
  font-size: $base-font-size * 1.4;
}
h5 {
  font-size: $base-font-size * 1.2;
  font-weight: $bold-font-weight;
}
h6 {
  text-transform: uppercase;
  font-weight: $bold-font-weight;
  font-size: $base-font-size;
}
p {
  margin: 0 0 $small-spacing;
  color: $base-font-color;
}

a {
  color: $action-color;
  text-decoration: none;
  font-weight: $light-font-weight;
  &:focus,
  &:hover {
    color: $alert;
  }
  &:visited {
    color: $light-base;
  }
}
em {
  font-style: italic;
}
strong {
  font-weight: $bold-font-weight;
}
hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
sup, sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
.l-content {
  ul, ol {
    list-style: outside square;
    padding-left: $base-font-size * 3;
    padding-bottom: $small-spacing;
    ul, ol {
      list-style: outside disc;
      ul {
        list-style-type: circle;
      }
    }
  }

  ol {
    list-style-type: decimal;
    ol {
      list-style-type: lower-alpha;
      ol {
        list-style-type: lower-roman;
      }
    }
  }
  .small-font {
  	font-size: $small-font-size;
  }
  a {
    text-decoration: underline;
  }
  cite {
    font-size: $small-font-size;
  }
  blockquote, cite {
      display: block;
      font-style: italic;
      border-left: 4px solid $light-grey;
      padding-left: $horz-spacing-unit;
      .font-normal {
        font-style: normal;
      }
      p {
        margin-bottom: 0;
        padding-bottom: $vert-spacing-unit;
      }
  }
  blockquote {
    font-size: $base-font-size * 0.9;
  }
}
